*{
    margin: 0;
    padding: 0;
}
.portcontainer{
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.progress{
    height: 50vh;
    width: 70%;
   color: white;
    display: flex;
    justify-content: space-between;

}